# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
TempVRCUploadProject/
2fa.txt

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
ExportedObj/
.consulo/
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
