# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
*.egg-info/

# Project runtime
TempVRCProject/
TempVRCUploadProject/
config.json
tools/
2fa.txt
*.lock
upload_tasks.json
upload_results.json
autouploader.log

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
ExportedObj/
.consulo/
*.private
*.private.meta

# OS
.DS_Store
Thumbs.db
Desktop.ini
